body{
	background-color: rgb(255, 255, 255);
	color: rgb(100, 130, 255);
	padding: 10px;
}

#titulus{
	background-color: rgb(190, 190, 210);
	color: rgb(255, 60, 60);
}

#pic{
	float: left;
}

#description{
	font-size: 32px;
	width: 2000px;
	height: 100px;
	padding: 100px;
	text-align: center;
}

#reviews{
	clear: both;
	border: 15px solid red;
}

#review_announcer{
	background-color: rgb(190, 190, 210);
	color: rgb(255, 60, 60);
}
