body{
	background-color: rgb(255, 255, 255);
	color: rgb(100, 130, 255);
	padding: 10px;
}

#titulus {
	background-color: rgb(190, 190, 210)
}

#pic {
	float: left;
}

#description {
	padding: 110px;
	font-size: 32px;
	text-align: center;
}

#reviews {
	clear: both;
}
